body {
  background: linear-gradient(to left, #8942a8, #ba382f);
  background-size: 100%;
  position: relative;
}

.container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  margin: 0px 20px;
  width: 100%;
  transition: 0.5s;
}

.top-bar {
  width: 100%;
  height: 50px;
}
.top-bar i {
  font-size: 22px;
  color: white;
}
.top-bar em {
  font-size: 15px;
  color: rgb(103, 241, 103);
}

.details {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(52, 52, 52);
  flex-grow: 1;
}
.details .details__titleBig {
  margin-bottom: 10px;
}
.details .details__titleBig h3 {
  font-size: 18px;
  color: white;
  margin: 0;
}
.details .details__titleBig button {
  border: none;
  outline: none;
  background-color: transparent;
}
.details .details__titleBig i {
  color: white;
}
.details .details__titleBig button:active i {
  color: red;
}
.details .details__titleSmall h4 {
  font-size: 16px;
  color: white;
}
.details .details__desc p {
  line-height: 1.2;
  color: white;
}
.details .price span {
  color: white;
}
.details .price button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  font-size: 14px;
  padding: 3px 10px;
}
.details .price:hover button {
  background-color: white;
  color: black;
}

.img-container {
  width: 100%;
  height: 200px;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.shopping-cart {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
}

.shopping-cart:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */