body {
  background: linear-gradient(to left, #8942a8, #ba382f);
  background-size: 100%;
  position: relative;
}
.container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  margin: 0px 20px;
  width: 100%;
  transition: 0.5s;
}

.top-bar {
  width: 100%;
  height: 50px;
  i {
    font-size: 22px;
    color: white;
  }
  em {
    font-size: 15px;
    color: rgb(103, 241, 103);
  }
}
.details {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(52, 52, 52);
  flex-grow: 1;
  .details__titleBig {
    margin-bottom: 10px;
    h3 {
      font-size: 18px;
      color: white;
      margin: 0;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
    }
    i {
      color: white;
    }
    button:active {
      i {
        color: red;
      }
    }
  }
  .details__titleSmall {
    h4 {
      font-size: 16px;
      color: white;
    }
  }
  .details__desc {
    p {
      line-height: 1.2;
      color: white;
    }
  }
  .price {
    span {
      color: white;
    }
    button {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 40px;
      background-color: transparent;
      color: white;
      transition: 0.3s;
      font-size: 14px;
      padding: 3px 10px;
    }
  }
  .price:hover {
    button {
      background-color: white;
      color: black;
    }
  }
}
.img-container {
  width: 100%;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
// .img-container {
//   width: 100%;
//   min-height: 200px;
//   display: flex;
//   align-items: middle;
//   justify-content: center;
//   text-align: center;
//   img {
//     width: 100%;
//     max-height: 100%;
//     align-self: center;
//   }
// }

.shopping-cart {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
}
.shopping-cart:hover {
  color: white;
}
